@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Mukta, sans-serif;
    font-style: italic;
    color: rgb(9, 98, 9);
    background-color: #FDEECD;
}

div > a {
    text-decoration: none;
    color: rgb(9, 98, 9);
}

h1, h2, h3 {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header {
    position: fixed;
}

#logo {
    float: left;
    font-size: 150%;
}

/* navigation */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu li {
    float: right;
    color: rgb(9, 98, 9);
    list-style-type: none;
    margin-right: 20px;
}


